.curved-loop-jacket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 6rem 0;
  overflow: hidden;
  background-color: #ffffff;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 1440 / 300;
  overflow: visible;
  display: block;
  font-size: 8rem;
  fill: #14452F;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
}

@media (max-width: 768px) {
  .curved-loop-svg {
    font-size: 4rem;
    aspect-ratio: 1440 / 200;
  }
  .curved-loop-jacket {
    padding: 2rem 0;
  }
}
