@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #14452F;
  --color-primary-light: #2E6F4C;
  --color-primary-dark: #0A291A;
  
  --color-carbone: #333333;
  --color-carbone-light: #555555;
  
  --color-coconut: #8B5A2B;
  --color-coconut-light: #C19A6B;
  
  --color-background: #F8FAF8;
  
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-carbone);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}

/* Custom scrollbar biar tampilannya lebih premium */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark);
}